.searchpagecont {
  display: flex;
  background: linear-gradient(to right, #25274d 30%, #464866 100%);
  height: 100vh;
  flex-direction: column;
  overflow: auto;
  background-size: cover;
}

.main-container {
  display: flex;
  flex-direction: row;
  margin-top: 8vh;
}

.main-search {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.searchIconActual {
  height: 17px;
  width: 17px;
}

#servicesearch {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50px;
  background: #fff;
  outline: none;
  padding: 0 60px 0 20px;
  font-size: 18px;
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.main-search .search-icon {
  position: absolute;
  margin-right: 6.5px;
  margin-bottom: 3px;

  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  height: 45px;
  width: 45px;
  background: #25274d;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  font-size: 22px;
  color: #f2f2f2;
  cursor: pointer;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.searchTableButton Button {
  border-radius: 1.5rem;
  border: none;
  font-weight: 600;
  background-color: #29648a;

  cursor: pointer;
}

.button-services {
  position: relative;

  box-shadow: 5px 12px 40px -12px #13141c;
}

.findresult {
  margin-left: 20vh;
  margin-right: 20vh;
  margin-top: 10vh;
}

.hiddenSearchResult {
  visibility: hidden;
}
.searchResult {
  border: honeydew;
  visibility: visible;
}

#searchFillLeft {
  visibility: hidden;
}

#searchFillRight {
  visibility: hidden;
}

.table {
  background-color: #4279a0;
}

.body {
  background-color: rgb(211, 233, 247);
  color: rgb(79, 95, 111);
}

.searchIntroText {
  color: whitesmoke;
  text-shadow: 5px 5px 5px #1b1c37;
  margin-top: 9vh;
}

@import "~bootstrap/scss/bootstrap";
