.home_page {
  height: 900px;
}

.jumbBig {
  background: linear-gradient(to right, #25274d 30%, #464866 100%);
  height: 50vh;
  color: whitesmoke;
  z-index: 100;
  position: relative;
  margin-bottom: 0;
}

// .heroImage {
//   position: relative;
// }

// .main-cards {
//   display: flex;
//   justify-content: space-evenly;
// }

.mainPageRow {
  display: flex;
  justify-content: space-between;
  margin-left: 65px;
  width: 100vw;
  position: relative;
  z-index: 100;
}

.main-cards {
  padding-top: 20px;
  background-color: white;
  position: relative;
  z-index: 100;
}

#heroHeader {
  margin-top: 30px;
}

.buttonForHome {
  border: none !important;
  background: linear-gradient(to bottom, #29648a 30%, #537488 100%) !important;
  box-shadow: 0.1px 3px 5px 2px #1c1e3b;
}

.eachHomeCard {
  box-shadow: 0.1px 3px 5px 2px #9b9b9c;
  border-radius: 3% !important;
}

.eachHomeCard:hover {
  transform: scale(1.06);
}

.clouds3 {
  position: absolute;
  left: 0px;
  top: 427px;
  width: 1077px;
  height: 383px;
  z-index: 6;
}
.clouds2 {
  position: absolute;
  left: 0px;
  top: 354px;
  width: 1440px;
  height: 456px;
  z-index: 5;
}

.clouds1 {
  opacity: 0.502;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1440px;
  height: 810px;
  z-index: 4;
}

.textHomeImg {
  font-size: 127px;
  font-family: "Roboto";
  color: rgba(239, 239, 239, 0.6);
  line-height: 1.2;
  text-align: left;

  position: absolute;
  left: 910.377px;
  // left: 993.377px;
  top: 299.655px;
  z-index: 2;
}

.parallax-img {
  position: absolute;
  left: 159px;
  top: 294px;
  width: 1060px;
  height: 436px;
  z-index: 3;
}

.clouds4 {
  position: absolute;
  left: 0px;
  top: 182px;
  width: 1252px;
  height: 628px;
  z-index: 7;
}

.totalImage {
  width: 100vw;
  height: 802px;
  position: relative;
  z-index: 90;
}

.hero-img {
  width: 1440px;
}

@import "~bootstrap/scss/bootstrap";
