$theme-colors: (
  "info": tomato,
  "danger": teal,
);
.provide-service-form {
  margin-top: 4rem;
  padding: 1.5rem;
  background: linear-gradient(to right, #25274d 30%, #464866 100%);
  color: aliceblue;
}

@import "~bootstrap/scss/bootstrap";
