.register {
  height: 700px;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: linear-gradient(to right, #25274d 30%, #464866 100%);
}

.register-left {
  color: whitesmoke;
}
.register-left img {
  width: 100px;
  margin-top: 14%;
  margin-bottom: 4%;
  background-image: white;
}

.register-left p {
  font-weight: 250;
  margin-top: 10%;
}

.register-left h3 {
  margin-top: 10%;
}

.register-right {
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
  height: 450px;
}

.register-form {
  padding: 5%;
}

.heading {
  text-align: center;
  margin-top: 2%;

  color: #495057;
}

.btn-form Button {
  border-radius: 1.5rem;
  font-weight: 600;
  background: #29648a;
  cursor: pointer;
}

.main-register {
  display: flex;
  flex-direction: row;
  padding-top: 70px;
}

@import "~bootstrap/scss/bootstrap";
